.message-container {
    margin: 20px;
    margin-right: 0;
    width: fit-content;
}

.message {
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.close-button {
    align-self: flex-start;
    border-radius: 10px;
}

.collection-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255,255,255,1);
    border-radius: 15px;
}

.item-container {
    display: flex;
    border: 2px solid #e55;
    border-radius: inherit;
    background: rgb(255,2,2,0.1);
}
