/*#3a3a3a*/
.class-container {
    margin-top: 15px;
    border: 2px var(--tertiary-border-color) solid;
    border-radius: 25px;
    padding: 15px;
    width: fit-content;
    background: var(--tertiary-color);
    color: var(--tertiary-text-color);
}
