@page "/"
@inject NavigationManager NavMan

<div class="main-content">
	<h2>Hello</h2>
	<h6>Welcome to the UPS Driver Application. This application is used to find the best route to devilver packages</h6>
	<CenterHorizontally>
		<button @onclick="@(() => NavMan.NavigateTo("/MainApp"))" class="btn btn-primary">Start</button>
	</CenterHorizontally>
</div>

