.content-container{
    display:flex;
    flex-wrap:wrap;
    width:100%;
}

.header-content{
    width:100%;
}

.main-package-container {
    width: 65%;
}

.package-section {
    margin-top:15px;
    width: 25%;
}


@media (max-width: 641px) {

    .main-package-container {
        width: 100%;
    }

    .package-section {
        width: 100%;
    }
}