@page "/MainApp"
@using System.Globalization
@inject IMapApi mapApi
@inject IGPSService GpsService
@inject IPackageHandler pachandler
@inject NavigationManager navman
@inject IAppSettingsConfig appsettings
@inject IJSRuntime js

@if(Packages == null || Packages == new List<Package>() || Packages.Count() == 0){
    <button @onclick="OpenFileManager" class="btn btn-outline-primary">Open File</button>
    <button @onclick="WriteDefaultInfo" class="btn btn-outline-secondary" >Write default data to a location</button>
}

@if(LoadingDistance){
    <Loader/>
}

<ErrorMessageHandler @ref=handler ErrorMessage=@errorMessage/>
@if(Packages != null && Packages != new List<Package>() && Packages.Count() != 0){
    <div class="content-container">
        <div class="main-package-container">
            <MainPackageViewer context="@(Packages[0])"/>
        </div>
        
        <div class="package-section">
             @if (Packages != null && Packages.Count() != 0)
             {
                 <ListViewer TItem="Package" Items="@Packages" MaxCount="3" Skip="1" >
                     <Fragment>
                         <CenterHorizontally>
                             <CompactPackageViewer context=@context/>
                         </CenterHorizontally>
                         
                     </Fragment>
                     <EndFragment>
                         <CenterHorizontally>
                            <button class="btn btn-outline-info"><a href="/ViewDetailedPackages">View All Packages</a></button>
                         </CenterHorizontally>
                     </EndFragment>
                 </ListViewer> 
             }
        </div>
    </div>
}



@code {
    string textFilter = "Text Files (*txt) | *txt";
    ErrorMessageHandler handler;

    NumberFormatInfo setPrecision = new NumberFormatInfo();
    string errorMessage = "";
    bool LoadingDistance = false;
    bool AlreadyInit;
    double Distance = 0;

    const double LAT_TO_MILES = 69;

    List<Package> Packages{
        get{
            return pachandler.Packages;
        }
        set {
            pachandler.Packages = value;
        }
    }

    Coordinate? NextPosition;

    protected override async Task OnInitializedAsync()
    {
        setPrecision.NumberDecimalDigits = 2;
        await base.OnInitializedAsync();
        AlreadyInit = Packages.Count() != 0;
        Test(await GpsService.GetCurrentCoordinates());
        if (!AlreadyInit)
        {
            GpsService.OnCoordinateChage += Test;
            return;
        }
        await SortAndUpdateLocation();
    }

    private async Task OpenFileManager()
    {
        var fileLoc = Alerts_Api.FileHandlingInterface.AskUserForFileLocWithPrompt(textFilter);
        if (string.IsNullOrEmpty(fileLoc))
        {
            return;
        }
        try
        {
            Packages = Tools.FileHandler.ReadFromFile(fileLoc).Packages;
        }
        catch
        {
            errorMessage = "File formated incorrectly";
            handler.ShowMessage();
            return;
        }
        await SortAndUpdateLocation();
    }

    private void WriteDefaultInfo()
    {
        var fileLoc = Alerts_Api.FileHandlingInterface.AskUserForNewFileLocWithPrompt("Default", textFilter);
        Tools.FileHandler.WriteToFile(fileLoc, new JsonSerializedDataObject()
                {
                    Packages = new List<Package>()
                    {
                        new Package()
                    {
                        Address = new Address()
                        {
                            City = "Farmington Hills",
                            Country = "US",
                            State = "MI",
                            Street = "30382 Nantucet Dr",
                            Zipcode = 48336
                        },
                        TrackingID = 0
                    },
                        new Package()
                    {
                        Address = new Address()
                        {
                            City = "Farmington Hills",
                            Country = "US",
                            State = "MI",
                            Street = "30332 Tuck Rd",
                            Zipcode = 48336
                        },
                        TrackingID = 1
                    },
                        new Package()
                    {
                        Address = new Address()
                        {
                            City = "SouthField",
                            Country = "US",
                            State = "MI",
                            Street = "21000 W 10 Mile Rd",
                            Zipcode = 48075
                        },
                        TrackingID = 2
                    }
                    }
                });
    }

    private void Test(Coordinate newCoords)
    {
        if (NextPosition == null)
            return;
        Distance = Tools.Comp.GetDistanceFromCoords(newCoords, NextPosition) * LAT_TO_MILES;
        if(Tools.Comp.IsWithin(NextPosition, newCoords, appsettings.GetAppSettings().GPSSettings.ErrorBounds)){
            InvokeAsync(Arrived);
        }
        InvokeAsync(StateHasChanged);
    }

    private async Task Arrived(){
        var tempPackages = Packages;
        tempPackages.RemoveAt(0);
        NextPosition = null;
        await SortAndUpdateLocation();
    }

    private void AddPackageHref(){
        navman.NavigateTo("/AddPackage");
    }

    private async Task SortAndUpdateLocation(){
        LoadingDistance = true;
        await InvokeAsync(StateHasChanged);
        var tempPackages = Packages;
        Packages = await Tools.Sorter.SortAsync(tempPackages, async (Package pack) => {
            pack.DistanceFromPoint = await mapApi.GetDistanceAsync(pack.Address, await GpsService.GetCurrentCoordinates());
            return pack;
        });

        if (NextPosition == null)
        {
            NextPosition = await mapApi.GetAddressInPointFormAsync((Packages[0]).Address);
        }

        Test(await GpsService.GetCurrentCoordinates());

        LoadingDistance = false;
        await InvokeAsync(StateHasChanged);
    }

    private void Delete(Package var)
    {
        Packages.Remove(var);
        InvokeAsync(StateHasChanged);
    }
}
