@page "/SaveData"
@using System.Threading
@using System.Globalization
@inject IPackageHandler pacHandler

<h2>Welcome to the save data page.</h2>
<button class="btn btn-outline-primary" @onclick=Save>Click me to save</button>

@code{
    string textFilter = "Text Files (*.txt) | *.txt";

    private void Save(){
        
        Thread.CurrentThread.CurrentCulture = new CultureInfo("en-US");
        string date = DateTime.Now.ToString().Replace('/','-').Replace(':', '-');
        var fileLoc = Alerts_Api.FileHandlingInterface.AskUserForNewFileLocWithPrompt("Packages " + date, textFilter);
        if(string.IsNullOrEmpty(fileLoc)){
            return;
        }

        JsonSerializedDataObject tempList = new JsonSerializedDataObject();
        tempList.Packages = pacHandler.Packages;
        Tools.FileHandler.WriteToFile(fileLoc, tempList);
    }
}