@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/* width */
::-webkit-scrollbar {
    width: 20px;
}

/*Colors */
:root {
    --primary-color: #2d313a;
    --primary-text-color: #bfbfbf;
    --primary-border-color: #0d010a;
    /**/
    --secondary-color: #8a0505;
    --secondary-text-color: #8a0505;
    --secondary-border-color: #780202;
    /**/
    --tertiary-color: #acacac;
    --tertiary-border-color: #3a3a3a;
    --tertiary-text-color: black;
}


/*Frame vars*/
:root {
    --frame-size: 40px;
    --frame-border-size: 3px;
    --sidebar-size: 250px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}
/*Background*/
::-webkit-scrollbar {
    background: var(--primary-color);
}



