@inherits LayoutComponentBase

<div class="page">
    <div class="on-top">
        <MenuButtons />
    </div>
    <div class="sidebar">
        <NavMenu @ref=navMenu/>
    </div>
    <CascadingValue Value="this">
        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </CascadingValue>
</div>

@code{
    private NavMenu navMenu;
    public async Task ReloadPage(){
        await navMenu.Reload();
        await InvokeAsync(StateHasChanged);
    }
}
