.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    min-height: 100vh;
    position: sticky;
}

.on-top{
    position:fixed;
    width:100%;
    z-index:2;
}

.main {
    flex: 1;
}

.sidebar {
    background-image: none;
    background-color: var(--secondary-color) !important;
    position: sticky;
    margin-top:var(--frame-size);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid var(--primary-border-color);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
        flex-wrap:wrap;
    }

    .sidebar {
        width: var(--sidebar-size);
        height: 100vh;
        position: fixed;
        top: 0;
        background-image: linear-gradient(180deg, var(--secondary-color) 30%, var(--primary-color) 70%);
    }
    .on-top {
        position: fixed;
        width: 100%;
    }
    .main{
        margin-top:var(--frame-size);
        margin-left:var(--sidebar-size);
    }
    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


@media(max-height: 400px) and (min-width: 641px) {
    .sidebar {
        background-image: none;
        background: var(--secondary-color);
        min-height: 100%;
    }
}

.page::-webkit-scrollbar {
    width: 6px;
    background-color: var(--secondary-color);
}

.page::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}